<section class="container">
  <h1>Products component</h1>
  <h3>rta</h3>
  <button (click)="callPromise()">Call promise</button>
  <p>{{ rta }}</p>
  <div class="my-grid">
    <app-product *ngFor="let item of products" [product]="item"> </app-product>
  </div>
  <button (click)="getAllProducts()" [disabled]="status === 'loading'">
    <span *ngIf="status === 'init' || status === 'success'"> Load more </span>
    <span *ngIf="status === 'loading'">Loading</span>
    <span *ngIf="status === 'error'">Error</span>
  </button>
</section>
